*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 1rem;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
    min-width: auto;
    color: hsl(198, 1%, 29%);
    font-family: "Architects Daughter", cursive;
    text-align: center;
    font-size: 130%;
}
.App{
    margin-top: 3rem;
}
.container{
    width: 100%;
    height: auto;
    margin: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 250px;
    background: #f1f5f8;
    background-image: radial-gradient(#bfc0c1 7.2%, transparant 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.heading h1{
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: #fdcb6e;
    font-size: 1.5rem;
}
form{
    display: flex;
    margin-top: 3rem;
}
form input{
    padding: 0.1rem;
    box-sizing: border-box;
    background-color: transparent;
    border: solid 3px transparent;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border-bottom: dashed 3px #fdcb6e;
    font-family: "Architects Daughter", cursive;
    font-size: 1rem;
    color: hsla(260, 2%, 25%, 0.7);
    width: 50%;
}
form button{
    padding: 0;
    border: none;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
    border-radius: 5px;
    padding-bottom: 3px;
    background-color: #ffeaa7;
    cursor: pointer;
}
form button span{
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 5px;    
    font-size: 16px;
}
form .select{
    margin-left: 1rem;
}
#todo-select{
    padding: 0.3rem;
    box-sizing: border-box;
    background-color: transparent;
    border: solid 3px transparent;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border-bottom: dashed 3px #fdcb6e;
    font-family: "Architects Daughter", cursive;
    font-size: 1rem;
    color: rgb(29, 28, 28);
}
.todo-list{
    width: 67%;
}
.todo{
    display: flex;
    margin-top: 1rem;
    width: 140%;
    justify-content: space-between;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
  .delete-btn,
  .complete-btn {
    background: #ff6f47;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
    border: none;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
    border-radius: 5px;

  }
  .complete-btn {
    background: rgb(11, 212, 162);
    margin-right: 2px;
    margin-left: auto;
  }
  .todo-item {
    padding: 0rem 0.5rem;
    list-style: none;
    margin-top: 0.4rem;
  }
  .completed{
      text-decoration: line-through;
      opacity: 0.5;
  }

